.container{
    max-width: 1320px;
    width: 80%;
    margin-inline: auto;
}
.flex{
    display:flex;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}