*{
    box-sizing: border-box;
}
.header{
    text-align: center;
    max-width: 720px;
    margin: 0px auto 75px;
    h1{
        font-size: 25px;
        color: black;
        margin-bottom: 12px;
    }
}
p{
    color:gray;
}
.options{
    width: calc(100%/3);
    transition: all .3s;
    padding: 30px;
    text-align: center;
}
.options:hover{
    background: border-box;
    box-shadow: 0 10px 20px lightgray;
    cursor: pointer;
    border-radius: 10px;
}
.container{
    width: 70%;
    max-width: 1140px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
}
